/* Shared */


/* Grid */
.historical {
    background-color: palegoldenrod;
}

.square {
    position: relative;
    width: 50%;
    border: 1px solid blue;
}

.square:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.grid-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: darkgrey;
    display: inline-block;
    border: 2px solid black;
    z-index: 1;
}

.success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.5);
    font-size: 200%;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2px;
    height: 100%;
}

.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    background: white;
}

/* Display of which cell is hovered, not styling the cell when hovered */
#hovered-cell { 
    font-weight: bold;
    font-size: 200%;
    width: 2em;
}

.lit {
    background-color: yellow;
}

.unlit {
    background-color: lightgrey;
}

/* History */
#history {
    counter-reset: entry-index -1;
    list-style-position: outside;
}

#history li {
    counter-increment: entry-index;
}
#history li::marker {
    content: "" counter(entry-index) ": ";
}
#history li.start-position::marker {
    content: "S: ";
}

#history li:hover {
    background-color: palegoldenrod;
}
#history li:hover::after {
    font-size: 100%;
    content: " \279C";
}
